.course {
  margin-bottom: 2rem;
}

.courseTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 0.5rem;
  line-height: 1;
  color: #CE9D4D;
}

.courseTitle span {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 0.5rem;
  color: #222222;
}

.classes {
  width: 100%;
  border: 0.1rem solid #308077;
  background: #FFFFFF;
}

.tableHeader {
  background: #308077;
  color: #FFFFFF;
  padding: 0.25rem 0;
}

.tableItem {
  padding: 0.5rem;
}

.tableItem p,
.tableItem ul {
  margin: 0;
  line-height: 1;
}

.tableItem .time {
  list-style: none;
}

.tableItem .time li:before {
  content: "•";
  padding-right: 0.25rem;
  color: #222222;
}

.tableItem .rooms {
  list-style: none;
}

.tableItem .lecturer {
  list-style: none;
}

.tableItem .lecturer li:before {
  content: "-";
  padding-right: 0.25rem;
  color: #222222;
}
