.header { /* stylelint-disable */
  width: 100%;
  height: auto;
  padding: 0.5rem 0 0.5rem 0;
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headerFixed {
  width: 100%;
  height: auto;
  padding: 0.5rem 0 0.5rem 0;
  position: fixed;
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  margin: 0 0 0 3rem;
  line-height: 3rem;
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  color: #CE9D4D;
}

.logo span {
  color: #308077;
}

.header button,
.headerFixed button {
  float: right;
  line-height: 3rem;
  font-weight: 700;
  color: #222222;
  display: inline-block;
  margin-right: 2rem;
}

.header button:hover,
.headerFixed button:hover {
  /* background: #CE9D4D; */
  color: #0909;
}