.buildSchedule { /* stylelint-disable */
  color: #333;
}

.scheduleList {
  min-height: calc(100vh - 5rem);
  margin-top: 5rem;
  background-image: url('./garis-putus.png'), url('./garis-putus.png');
  background-repeat: no-repeat, no-repeat;
  background-size: 15rem 15rem, 15rem 15rem;
  background-position: 0 calc(100% + 5rem), calc(100% - 22rem) 0;
  background-attachment: fixed, fixed;
  padding: 2.5rem;
}

.pickedSchedule {
  width: 25%;
  height: calc(100vh - 5rem);
  background: #333;
  position: fixed;
  top: 5rem;
  color: #FFF5E9;
  padding: 3rem 2rem;
  overflow-y: auto;
  overflow-x: none;
}

.pickedScheduleHeader {
  font-size: 2rem;
  font-weight: 700;
  color: #FBA600;
  background: url('./ornamen-3.png');
  padding: 2rem 0 0 2rem;
  background-size: 4rem 4rem;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.pickedScheduleList {
  margin-top: 1rem;
}

.tableHeader {
  color: #FFF5E9;
  border-bottom: 0.25rem solid #0097B0;
  padding: 0.25rem 0;
}

.tableFooter,
.tableConflict {
  color: #FFF5E9;
  padding: 0.25rem 0;
  margin-bottom: 2rem;
}

.tableFooter {
  background: #0097B0;
}

.tableConflict {
  margin-top: -2rem;
  background: #DC5539;
  font-size: 0.75rem;
  text-align: center;
  font-weight: 700;
}

.tableItem {
  padding: 0.5rem;
}

.tableItem p,
.tableItem ul {
  margin: 0;
  line-height: 1;
}

.tableItem .time {
  list-style: none;
  font-size: 0.75rem;
}

.tableItem .time li:before {
  content: "•";
  padding-right: 0.25rem;
  color: #FFF5E9;
}

.finishButton {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0 0;
  color: #FFF5E9;
  background: #FBA600;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.25s background ease;
}

.finishButton:hover,
.finishButton:active {
  background: #DC5539;
  transition: 0.25s background ease;
}

.finishButton:disabled {
  background: #AAA;
}

.courseName {
  font-size: 0.8rem;
}

.removeButton {
  width: 100%;
  padding: 0.5rem 0;
  margin: 0.25rem 0;
  line-height: 1;
}

.agendaModule {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background: rgba(0, 0, 0, 0.5);
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.agendaModuleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  max-height: 100%;
  background: #FFF;
  padding: 2rem;
}

.agendaModuleContainer input, 
.agendaModuleContainer select {
  width: 100%;
  border-bottom: 0.2rem solid #FBA600;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

.agendaModuleContainer h3 {
  width: 100%;
  color: #FFF5E9;
  background: #DC5539;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  line-height: 1;
  font-size: 1rem;
}

.agendaModuleContainer button {
  padding: 0.5rem 1rem;
  color: #FFF5E9;
  margin-left: 1rem;
}

.agendaModuleContainer button.add {
  background: #0097B0;
}

.agendaModuleContainer button.cancel {
  background: #DC5539;
}
