.pageTitle {
	font-size: 1.5rem;
	font-weight: 700;
}

.buildSchedule { /* stylelint-disable */
  color: #222222;
}

.scheduleList {
  min-height: calc(100vh - 5rem);
  margin-top: 2rem;
  padding: 4rem 3rem 0;
}

.pickedSchedule {
  width: 25%;
  height: calc(100vh - 4rem);
  background: #222222;
  position: fixed;
  top: 4rem;
  color: #FFFFFF;
  padding: 3rem 2rem;
  overflow-y: auto;
  overflow-x: none;
}

.pickedScheduleHeader {
  font-size: 1.5rem;
  font-weight: 700;
  color: #CE9D4D;
}

.pickedScheduleList {
  margin-top: 1rem;
}

.tableHeader {
  color: #FFFFFF;
  font-weight: 700;
  border-bottom: 0.25rem solid #308077;
  padding: 0.25rem 0;
}

.tableFooter,
.tableConflict {
  color: #FFFFFF;
  padding: 0.25rem 0;
  margin-bottom: 2rem;
}

.tableFooter p {
  font-weight: 700;
  padding-right: 1rem;
}

.tableFooter {
  background: #308077;
}

.tableConflict {
  margin-top: -2rem;
  background: #CE9D4D;
  font-size: 0.75rem;
  text-align: center;
  font-weight: 700;
}

.tableItem {
  padding: 0.5rem;
  padding-left: 0;
}

.tableItem p,
.tableItem ul {
  margin: 0;
  line-height: 1;
}

.tableItem .time {
  list-style: none;
  font-size: 0.75rem;
}

.tableItem .time li:before {
  content: "•";
  padding-right: 0.25rem;
  color: #FFFFFF;
}

.agendaButton {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0 0;
  color: #CE9D4D;
  border: 0.1rem solid #CE9D4D;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.25s background ease;
}

.agendaButton:hover,
.agendaButton:active {
  color: #FFFFFF;
  background: #CE9D4D;
  transition: 0.25s background ease;
}

.finishButton {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0 0;
  color: #FFFFFF;
  background: #CE9D4D;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.25s background ease;
}

.finishButton:hover,
.finishButton:active {
  background: #CE9D4D;
  transition: 0.25s background ease;
}

.finishButton:disabled {
  background: #AAA;
}

.courseName {
  font-size: 0.8rem;
}

.removeButton {
  width: 100%;
  padding: 0.5rem 0;
  margin: 0.25rem 0;
  line-height: 1;
}

.agendaModule {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background: rgba(0, 0, 0, 0.5);
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.agendaModuleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  max-height: 100%;
  background: #FFF;
  padding: 2rem;
}

.agendaModuleContainer input, 
.agendaModuleContainer select {
  width: 100%;
  border-bottom: 0.2rem solid #CE9D4D;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

.agendaModuleContainer h3 {
  width: 100%;
  color: #FFFFFF;
  background: #CE9D4D;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  line-height: 1;
  font-size: 1rem;
}

.agendaModuleContainer button {
  padding: 0.5rem 1rem;
  color: #FFFFFF;
  margin-left: 1rem;
}

.agendaModuleContainer button.add {
  color: #FFFFFF;
  background: #CE9D4D;
  font-weight: 700;
}

.agendaModuleContainer button.cancel {
  color: #CE9D4D;
  border: 0.1rem solid #CE9D4D;
  font-weight: 700;
}

.agendaModuleContainer button.cancel:hover{
  color: #FFFFFF;
  background: #CE9D4D;
  transition: 0.25s background ease;
}