.pageTitle {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 0 0 3rem;
}

.scheduleList {
  margin-top: 2rem;
}

.scheduleList h1 {
  font-weight: 700;
  line-height: 1;
  margin: 0 0 0.5rem;
  color: #ce9d4d;
}

.listHeader {
  width: 100%;
  background: #308077;
  padding: 0.75rem 0 0.75rem 3rem;
}

.listHeader p {
  color: #ffffff;
  margin: 0;
  line-height: 1;
  font-weight: 700;
}

.listItem {
  width: 100%;
  color: #222222;
  background: #fff;
  border-top: 0.05rem solid rgba(48, 128, 119, 0.5);
}

.listItemContent {
  padding: 0.5rem 0 0.5rem 3rem;
}

.listItem p {
  margin: 0;
  line-height: 1.5;
}

.listItem a {
  text-decoration: underline;
}

.listItem button {
  color: #ce9d4d;
}

@media screen and (max-width: 768px) {
  .mobile-hide {
    display: none;
  }
}
